<% @posts.each do |post| %>
  <div class="post">
    <h2 class="title"><%= link_to post.title, post %></h2>
    <div class="entry"><%= post.body %></div>
    <div class="byline">
      <p class="meta"><%= post.created_at.strftime('%b %d, %Y') %> Posted by <%= post.admin_user.name %></p>
      <p class="links"><%= link_to "Read More", post %></p>
    </div>
  </div>
<% end %>
