<div class="post">
  <h3><%= @post.title %></h3>
  <small><%= @post.created_at.strftime('%b %d %Y') %></small>
  <p>Created by: <%= @post.admin_user.name %></p>
  <p><%= @post.body %></p>
  <p>Category: <%= link_to @post.category.name, category_path(id: @post.category_id) %></p>
  <p><%= link_to 'Back to Posts', posts_path %></p>

  <h3>Add Comment</h3>
  <%= form_for @comment do |f| %>
    <%= f.hidden_field :post_id %>
    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </p>
    <p>
      <%= f.label :body %><br />
      <%= f.text_area :body %>
    </p>
    <p>
      <%= f.submit "Post Comment" %><br />
    </p>
  <% end %>

  <%= render partial: "partials/comment", collection: @post.comments %>
</div>
